.articleCard {
  width: 100%;
  height: 100%;
  background-color: var(--color-main);

  // テキスト群
  > div {
    padding: 24px;

    // 投稿日時
    > p {
      display: flex;
      align-items: center;
      justify-content: start;
      gap:16px;
      font-size: 1rem;
      > time {
        display: flex;
        gap:8px;
      }
      @media (max-width: 1024px) {
        font-size: 0.75rem;
        > time {
          gap: 6px;
        }
      }
      
      @media (max-width: 599px) {
        font-size: 1rem;
        > time {
          gap: 8px;
        }
      }
    }

    // シリーズタイトル
    > h3 {
      margin-top: 16px;
    }

    // 記事タイトル
    > h2 {
      margin-top: 8px;
      height: 72px;
    }

    // タグ
    > div {
      display: flex;
      gap: 8px;
      margin-top: 16px;
      span {
        display: block;
        background-color: #999999;
        // background-color: var(--color-accent);
        padding: 2px 8px;
        color: var(--color-base);
      }
    }
  }
}
