@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --base-color: #effffd;
  --main-color: #ffffff;
  // --main-color: #b8fff9;
  --accent-color: #42c2ff;

  --heading-color: #2a2a2a;
  --paragraph-color: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color: var(--paragraph-color);
  background-color: var(--base-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
}

h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  width: 1000px;
  margin: 0 auto;
  background-color: var(--main-color);
}
@media (max-width: 1000px) {
  main {
    width: 100%;
  }
}

